apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ application }}-keycloak"
  labels:
    app: "{{ application }}"
    component: keycloak
spec:
{% if ingress_class_name %}
  ingressClassName: "{{ ingress_class_name }}"
{% endif %}
  rules:
    - host: "{{ keycloak_host }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-keycloak"
                port:
                  name: keycloak-http
{% if ingress_tls_enabled %}
  tls:
    - hosts:
        - "{{ keycloak_host }}"
      secretName: "{{ ingress_tls_secret_name }}"
{% endif %}
