apiVersion: v1
kind: Service
metadata:
  name: "{{ application }}-keycloak"
  labels:
    app: "{{ application }}"
    component: keycloak
spec:
  selector:
    app: "{{ application }}"
    component: keycloak
  ports:
    - name: keycloak-http
      port: 8080
      targetPort: keycloak-http
    - name: keycloak-https
      port: 8443
      targetPort: keycloak-https
