apiVersion: v1
kind: Service
metadata:
  name: "{{ keycloak_db_service }}"
  labels:
    app: "{{ application }}"
    component: keycloak-db
spec:
  clusterIP: None
  selector:
    app: "{{ application }}"
    component: keycloak-db
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ keycloak_db_service }}"
  labels:
    app: "{{ application }}"
    component: keycloak-db
spec:
  serviceName: "{{ keycloak_db_service }}"
  replicas: 1
  selector:
    matchLabels:
      app: "{{ application }}"
      component: keycloak-db
  template:
    metadata:
      labels:
        app: "{{ application }}"
        component: keycloak-db
    spec:
{% if image_pull_secret_name | default('') | length > 0 %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - name: postgres
          image: "{{ postgres_image }}"
          ports:
            - name: postgres
              containerPort: 5432
          env:
            - name: POSTGRESQL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: "keycloak-db-secret"
                  key: POSTGRES_USER
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "keycloak-db-secret"
                  key: POSTGRES_PASSWORD
            - name: POSTGRESQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: "keycloak-db-secret"
                  key: POSTGRES_DB
          volumeMounts:
            - name: data
              mountPath: /bitnami/postgresql
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "{{ keycloak_db_storage_size }}"
