apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ application }}-keycloak"
  labels:
    app: "{{ application }}"
    component: keycloak
data:
  KC_DB: postgres
  KC_HOSTNAME: "{{ public_scheme }}://{{ keycloak_host }}"
  KC_HOSTNAME_ADMIN: "{{ public_scheme }}://{{ keycloak_host }}"
  KC_HOSTNAME_STRICT: "false"
  KC_HTTP_ENABLED: "true"
  KC_PROXY_HEADERS: "xforwarded"
  KC_HEALTH_ENABLED: "true"
  KC_CACHE: local
