.contract-card {
  width: 500px;
  margin-left: 15px;
  margin-top: 15px;
}
.contract-property-header{
  font-size: small;
}
.contract-property-value{
  font-weight: bold !important;
  font-size: larger;
}
.contract-card-footer{
  text-align: center;
  padding: 10px;
}
.card-actions{
  display: flex;
  justify-content: space-around;
}
.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
}
.container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-form-field {
  min-width: 200px;
  width: 30%;
  margin-top: 18px;
}
mat-paginator {
  display: inline-block;
  background-color: transparent;
}