<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" mode="side" opened>
        <div class="sidenav-background">
            <div class="logo">
                <img width="164px" height="60px" src="assets/psnclogo.png" alt="PSNC | Logo">
                <div class="logo-text">Data Space Portal</div>
            </div>
            <mat-nav-list class="sidebar-categories-list">
                <div *ngFor="let routeCategory of routesCategories">
                    <div class="sidebar-tab-category-title">
                        {{routeCategory.category}}
                    </div>
                    <a mat-list-item class="sidebar-tab" [ngClass]="{'active-tab': activeRoute === '/' + route.path}" *ngFor="let route of routeCategory.routes" [routerLink]="[route.path]">
                        <mat-icon matListItemIcon class="sidebar-tab-icon">{{route.data?.icon}}</mat-icon>
                        <div class="sidebar-tab-text">
                            {{route.data?.title ?? route.path}}
                        </div>
                    </a>
                </div>
                <ng-container *ngIf="isLoggedIn()">
                    <div class="sidebar-tab-category-title">
                        User
                    </div>
                    <a mat-list-item class="sidebar-tab" [matMenuTriggerFor]="userMenu">
                        <mat-icon matListItemIcon class="sidebar-tab-icon">person</mat-icon>
                        <div class="sidebar-tab-user">
                            <div class="sidebar-tab-text">
                                {{ getUsername() }}
                            </div>
                            <mat-icon class="sidebar-tab-dropdown-icon">arrow_drop_down</mat-icon>
                        </div>
                    </a>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item [disabled]>
                            <mat-icon>account_circle</mat-icon> Profile
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>logout</mat-icon> Logout
                        </button>
                    </mat-menu>
                </ng-container>
        
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>