#wrapper {
  margin: 20px;
}

:host ::ng-deep div.mat-expansion-panel-body {
  padding-left: 0 !important;
}

.policy-card {
  margin-top: 10px;
  width: 400px;
}

.policy-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-paginator {
  display: inline-block;
  background-color: transparent;
}

.search-form-field {
  min-width: 200px;
  width: 30%;
  margin-top: 18px;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-policy-button {
  margin-top: 8px;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}
