apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ application }}-dashboard"
  labels:
    app: "{{ application }}"
    component: dashboard
spec:
  replicas: {{ dashboard_replicas }}
  revisionHistoryLimit: 0
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: "{{ application }}"
      component: dashboard
  template:
    metadata:
      labels:
        app: "{{ application }}"
        component: dashboard
    spec:
      containers:
        - name: dashboard
          image: "{{ dashboard_image }}"
          imagePullPolicy: "{{ image_pull_policy }}"
          resources:
{{ dashboard_resources | to_nice_yaml(indent=2) | indent(12, true) }}
          ports:
            - name: www
              containerPort: 8080
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: dashboard-nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
            - name: dashboard-app-config
              mountPath: /usr/share/nginx/html/assets/config/app.config.json
              subPath: app.config.json
      volumes:
        - name: tmp
          emptyDir:
            medium: "Memory"
        - name: dashboard-nginx-config
          configMap:
            name: "{{ application }}-dashboard-config"
        - name: dashboard-app-config
          configMap:
            name: "{{ application }}-dashboard-config"
