@import './theme.scss';

html, body {
    height: 100%;
}

body {
  margin: 0;
}

.snackbar-info-style {
  background-color: orange;
  color: black;
}

.snackbar-error-style {
  background-color: crimson;
  color: black;
}

.code {
  font-family: monospace;
}

mat-card-header, mat-card-title {
  cursor: default;
  font-size: 20px;
}

.mat-divider.mat-divider-inset {
  margin-left: 0px !important;
}

.mat-mdc-form-field {
  flex-direction: row !important;
}

.search-form-field {
  min-width: 200px;
}

.search-pagination-container {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}
