apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: "{{ application }}-consumer-backend"
  annotations:
    haproxy.router.openshift.io/ip_whitelist: "{{ route_ip_whitelist }}"
  labels:
    app: "{{ application }}"
    component: consumer-backend
spec:
  host: "{{ consumer_backend_host }}"
  path: /
  to:
    kind: Service
    name: "{{ application }}-consumer-backend"
    weight: 100
  port:
    targetPort: api
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None