apiVersion: v1
kind: Service
metadata:
  name: "{{ application }}-storage"
  labels:
    app: "{{ application }}"
    component: storage
spec:
  selector:
    app: "{{ application }}"
    component: storage
  ports:
    - name: s3
      port: 9000
      targetPort: s3
    - name: console
      port: 9001
      targetPort: console
