apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ application }}-storage"
  labels:
    app: "{{ application }}"
    component: storage
spec:
{% if ingress_class_name %}
  ingressClassName: "{{ ingress_class_name }}"
{% endif %}
  rules:
    - host: "{{ storage_host }}"
      http:
        paths:
          - path: /s3
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-storage"
                port:
                  name: s3
          - path: /
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-storage"
                port:
                  name: console
{% if ingress_tls_enabled %}
  tls:
    - hosts:
        - "{{ storage_host }}"
      secretName: "{{ ingress_tls_secret_name }}"
{% endif %}
