apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ application }}-storage"
  labels:
    app: "{{ application }}"
    component: storage
data:
  # RustFS configuration (non-sensitive)
  HOSTNAME: "storage"
  RUSTFS_CONSOLE_ENABLE: "{{ storage_console_enable }}"
  {# RUSTFS_OBS_LOG_DIRECTORY: ""
  RUSTFS_OBS_LOG_STDOUT_ENABLED: "true" #}
