apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ application }}-connector"
  labels:
    app: "{{ application }}"
    component: connector
spec:
{% if ingress_class_name %}
  ingressClassName: "{{ ingress_class_name }}"
{% endif %}
  rules:
    - host: "{{ connector_host }}"
      http:
        paths:
          - path: /api/management
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-connector"
                port:
                  name: management
          - path: /api/dsp
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-connector"
                port:
                  name: protocol
          - path: /api/catalog-proxy
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-connector"
                port:
                  name: catalogproxy
          - path: /api/public
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-connector"
                port:
                  name: public
          - path: /api/control
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-connector"
                port:
                  name: control
          - path: /api/catalog
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-connector"
                port:
                  name: catalog
          - path: /api/version
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-connector"
                port:
                  name: version
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: "{{ application }}-connector"
                port:
                  name: api
{% if ingress_tls_enabled %}
  tls:
    - hosts:
        - "{{ connector_host }}"
      secretName: "{{ ingress_tls_secret_name }}"
{% endif %}
