# Rendered from config/templates/identity-hub.properties.template

edc.hostname=__IDENTITY_HUB_HOST__
web.http.port=7080
web.http.path=/api
web.http.credentials.port=7081
web.http.credentials.path=/api/credentials
web.http.identity.port=7082
web.http.identity.path=/api/identity
web.http.did.port=7083
web.http.did.path=/
web.http.version.port=7085
web.http.version.path=/api/version
web.http.sts.port=7086
web.http.sts.path=/api/sts

edc.iam.did.web.use.https=true
edc.iam.sts.privatekey.alias=key-1
edc.iam.sts.publickey.id=__IDENTITY_HUB_STS_PUBLIC_KEY_ID__
edc.ih.iam.publickey.path=/certs/consumer_public.pem
edc.ih.iam.id=__PARTICIPANT_ID__
edc.ih.api.superuser.key=__IDENTITY_HUB_SUPERUSER_KEY__
edc.mvd.credentials.path=app

edc.sql.schema.autocreate=true
edc.datasource.default.url=jdbc:postgresql://identity-hub-db:5432/__IDENTITY_HUB_DB_NAME__
edc.datasource.default.user=__IDENTITY_HUB_DB_USER__
edc.datasource.default.password=__IDENTITY_HUB_DB_PASSWORD__
edc.vault.hashicorp.url=http://key-vault:8200
edc.vault.hashicorp.token=__VAULT_SERVICE_TOKEN__
edc.vault.hashicorp.token.ttl=0
edc.vault.hashicorp.token.scheduled-renew-enabled=false
